@import "../vars";

.autocomplete-input {
    position: relative;
  
    input {
      width: 100%;
    }
  
    .autocomplete-list {
      position: absolute;
      background: $grayShades20;
      border-radius: 16px;
      border: 1px solid $grayShades20;
      max-height: 150px;
      overflow-y: auto;
      z-index: 5;
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
  
      li {
        padding: 8px 10px;
        cursor: pointer;
  
        &:hover {
          background-color: $grayShades60;
        }
      }
    }
  
    .autocomplete-add-new {
      position: absolute;
      bottom: -30px;
      background: $purpleShades60;
      padding: 6px 10px;
      font-size: 14px;
      cursor: pointer;
      border: 1px solid $grayShades20;
      border-radius: 16px;
    }&:hover {
      background: $purpleShades;
    }
  }
  