@import "../vars";

.login-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 33%;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}