@import "../vars";

.profile-cards-img {
    width: 160px;
    height: auto;
    border-radius: 12px;
}

.profile-cards-container {
    padding: 32px;
    border-radius: 32px;
    border: 2px solid $grayShades15;
}

.profile-cards-list {
    display: flex;
    gap: 16px;
}

.profile-cards-item {
    max-width: 400px;
}