$purpleShades60: #703BF7;
$purpleShades65: #8254F8;
$purpleShades70: #946CF9;
$purpleShades75: #A685FA;
$purpleShades90: #DBCEFD;
$purpleShades95: #EDE7FE;
$purpleShades97: #F4F0FE;
$purpleShades99: #FBFAFF;

$whiteShades90: #E4E4E7;
$whiteShades95: #F1F1F3; 
$whiteShades97: #F7F7F8; 
$whiteShades99: #FCFCFD;

$grayShades08: #141414;
$grayShades10: #1A1A1A;
$grayShades15: #262626;
$grayShades20: #333333;
$grayShades30: #4D4D4D;
$grayShades40: #666666;
$grayShades50: #808080;
$grayShades60: #999999;

// Font Family
$font-primary: 'Urbanist', sans-serif;

// Font Weights
$font-weight-regular: 400; // "regular" maps to 400
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Italicized Weights
$font-weight-italic: 400 italic;
$font-weight-medium-italic: 500 italic;
$font-weight-semi-bold-italic: 600 italic;
$font-weight-bold-italic: 700 italic;

// Font Sizes
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;

// Line Heights
$line-height-base: 1.5;
$line-height-small: 1.3;
$line-height-large: 1.8;

@mixin blackButton {
    padding: 14px 24px;
    font-family: $font-primary;
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
    line-height: $line-height-small;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    color: white;
    background-color: $grayShades10;
    border: none;

    &:focus, &:active {
        outline: none;
        box-shadow: none;
    }

    &:visited {
        color: inherit;
    }
}

@mixin purpleButton {
    padding: 14px 24px;
    font-family: $font-primary;
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
    line-height: $line-height-small;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    background-color: $purpleShades60;
    color: white;
    border: 1px solid $grayShades30;
    border-radius: 10px;
    cursor: pointer;

    &:focus, &:active {
        outline: none;
        box-shadow: none;
    }

    &:visited {
        color: inherit;
    }

    &:hover {
      background-color: $purpleShades75;
      transition: 1s;
    }
}

@mixin blackButtonWithBorders {
    @include blackButton;
    background-color: $grayShades08;
    outline: 1px solid $grayShades15;
    border-radius: 10px;
}

@mixin defaultParagraph {
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
    color: $grayShades60;
}

@mixin pageListing($borderColor, $marginTop, $paddingTop, $buttonPadding, $buttonRadius, $buttonBgColor) {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $borderColor;
    margin-top: $marginTop;
    padding-top: $paddingTop;
  
    p {
      @include defaultParagraph;
      span {
        color: white;
      }
    }
  
    .page__listing-buttons {
      button {
        @include blackButtonWithBorders;
        padding: $buttonPadding;
        border-radius: $buttonRadius;
      }
  
      .right {
        background-color: $buttonBgColor;
      }
    }
  }

  @mixin TitleSup($gap, $btnBgColor) {
    display: flex;
    gap: $gap;
    justify-content: space-between;
    align-items: center;
    p {
      @include defaultParagraph;
    }
  
    button {
      @include blackButtonWithBorders;
      background-color: $btnBgColor;
      white-space: nowrap;
    }
  }
  
  
  


